<!DOCTYPE html>
<html>
    <head>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                // Start by loading the first page.
                load_page('first');

                // Load pages beyond the link
                document.querySelectorAll('.nav-link').forEach(link => {
                    link.onclick = () => {
                        load_page(link.dataset.page);
                        return false;
                    }
                });
            });

            window.onpopstate = e => {
                const data = e.state;
                document.title = data.title;
                document.querySelector("#body").innerHTML = data.text;
            }

            function load_page(name)
            {
                const request = new XMLHttpRequest();
                request.open('GET', `/${name}`);
                request.onload = () => {
                    const response = request.responseText;
                    document.querySelector("#body").innerHTML = response;

                    // Push state to URL
                    document.title = name;
                    history.pushState({'title' : name, 'text' : response}, name, name);
                }
                request.send();
            }
        </script>
    </head>
    <body>
        <ul id="nav">
            <li><a href="" class="nav-link" data-page="first">First Page</a></li>
            <li><a href="" class="nav-link" data-page="second">Second Page</a></li>
            <li><a href="" class="nav-link" data-page="third">Third Page</a></li>
        </ul>
        <div id="body">

        </div>
    </body>
</html>