<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
        <script id="post" type="text/x-handlebars-template">
            <div class="post">
                {% raw -%}
                    {{contents}}
                {%- endraw %}
                <button class="hide">Hide</button>
            </div>
        </script>
    
        <style>
            .hide {
                float: right;
            }
            .post {
                padding: 20px;
                text-align: center;
                background-color: chartreuse;
                height: 40px;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <div id="posts">

        </div>
    </body>
</html>